*{
    padding: 0;
    margin: 0;
}

:root{
    --primary-color: #059669;
}

.navbar{
    background-color: var(--primary-color);
    color: white;
    padding: 1.5rem 1.5rem;
    border-radius: 0rem 0rem 2rem 2rem;
}

.navbar .nav-head{
    font-weight:900;
    font-size:2rem;
}

.navbar .navbar-link{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0rem 0.6rem;
}

.nav-anchorList{
    text-align: right;
    list-style: none;
}