*{
    padding: 0;
    margin: 0;
}

:root{
    --primary-color: #059669;
}

.navbar{
    background-color: var(--primary-color);
    color: white;
    padding: 1.5rem 1.5rem;
    border-radius: 0rem 0rem 2rem 2rem;
    position: fixed;
    width: 96.8%;
}

.navbar .nav-head{
    font-weight:900;
    font-size:2rem;
}

.navbar .navbar-link{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0rem 0.6rem;
}

.nav-anchorList{
    text-align: right;
    list-style: none;
}

.section-header{
    padding-top: 8rem;
}

.header{
    display: flex;
}

.header .header-img{
    max-width: 600px;
    margin: auto;
    padding: 2rem 4rem;
}

.header .intro{
    text-align: center;
    padding: 0rem 6rem;
    margin: auto;
} 

.section{
 margin: 2rem;   
}

.container-technology{
    background-color: var(--primary-color);
    padding: 2rem;
    max-width: 900px;
    margin: auto;
    border-radius: 1.2rem;
    text-align: center;
}

.container-technology h1,p{
    padding: 1.5rem;
}

.container-project{
    text-align: center;
    padding: 2rem;
    margin: auto;
    border-radius: 1.2rem;
    max-width: 900px;
}

.container-project h1,p{
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.container-project a{
    padding-bottom: 1.5rem;
    color: white;
    background-color: var(--primary-color);
    border-radius: 2rem;
    padding: 0.6rem 1.2rem;
    margin-top: 2rem;
    text-decoration: none;
}

.container-blog{
    background-color: var(--primary-color);
    text-align: center;
    padding: 2rem;
    margin: auto;
    border-radius: 1.2rem;
    max-width: 900px;
}

.container-blog h1,p{
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.container-blog a{
    padding-bottom: 1.5rem;
    color: var(--primary-color);
    background-color: white;
    border-radius: 2rem;
    padding: 0.6rem 1.2rem;
    margin-top: 2rem;
    text-decoration: none;
}

