<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blogs</title>
    <link rel="stylesheet" href="./component-style.css">
</head>
<body>
    <nav class="navbar">
        <h1 class="nav-head">Web Developer</h1>
        <ul class="non-bullet">
            <li class="nav-anchorList">
                <a class="navbar-link" href="">Home</a>
                <a class="navbar-link" href="">Projects</a>
                <a class="navbar-link" href="">Blog</a>
            </li>
        </ul>
    </nav>

    <section class="section-header">
        <div class="container-header">
            <h1>read my <span class="color">blogs</span></h1>
        </div>
    </section>

    <ul class="non-bullet-list">

        <li class="ow">
            <div class="common-section">
                <h1>Dummy Blog One</h1>
                <small>March,2023</small>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea aliquid error laborum, rem labore ratione impedit vel assumenda est voluptatum pariatur voluptas voluptates amet iure. Ut fugiat, inventore rerum, ex maiores ea ab neque tempora omnis non voluptatum. Explicabo placeat similique repudiandae sapiente nisi sed nulla, quasi minima eum possimus.</p>
                <a class="primary-link" href="">Read More</a>
            </div>
        </li>

        <li class="w">
            <div class="common-section">
                <h1>Dummy Blog Two</h1>
                <small>March,2023</small>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ipsam excepturi suscipit quisquam sequi sapiente reiciendis delectus expedita! A nulla nihil non debitis ea enim est ducimus excepturi dignissimos porro pariatur id, similique et neque, perspiciatis nisi blanditiis ex. A molestiae molestias, libero pariatur doloremque incidunt laborum laudantium dolores quas!</p>
                <a class="secondary-link" href="">Read More</a>
            </div>
        </li>
    </ul>
</body>
</html>