<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="./component-style.css">
</head>

<body>
    <nav class="navbar">
        <h1 class="nav-head">Web Developer</h1>
        <ul class="non-bullet">
            <li class="nav-anchorList">
                <a class="navbar-link" href="">Home</a>
                <a class="navbar-link" href="">Projects</a>
                <a class="navbar-link" href="">Blog</a>
            </li>
        </ul>
    </nav>
 
    <section class="section-header">
        <div class="container-header">
            <h1>see my <span class="color">code</span></h1>
        </div>
    </section>

    <ul class="non-bullet-list">

        <li class="ow">
            <div class="common-section">
                <h1>Are you a marvel fan ?</h1>
                <small>March,2023</small>
                <p>Do you know marvel cinematic universe? Let's play a quiz and see.</p>
                <a class="primary-link" href="">Live Project</a>
                <a class="secondary-link" href="">View Sources</a>
            </div>
        </li>

        <li class="w">
            <div class="common-section">
                <h1>How well do yuo know me ?</h1>
                <small>March,2023</small>
                <p>A CLI app built with nodeJS. You can send this to your friends and find out who really knows you</p>
                <a class="primary-link" href="">Live Project</a>
                <a class="secondary-link" href="">View Sources</a>
            </div>
        </li>
    </ul>

    <footer class="foot">
        <div class="section-footer">
            <h2>Connect With Me</h2>
            <ul class="links-socialMedia">
                <li class="footlist"><a href="">LinkedIn</a>
                    <a href="">GitHub</a>
                    <a href="">Twitter</a>
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>