<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="./component-style.css">
</head>

<body>
    <nav class="navbar">
        <h1 class="nav-head">Web Developer</h1>
        <ul class="non-bullet">
            <li class="nav-anchorList">
                <a class="navbar-link" href="">Home</a>
                <a class="navbar-link" href="">Projects</a>
                <a class="navbar-link" href="">Blog</a>
            </li>
        </ul>
    </nav>

    



</body>

</html>